.Menu{
    display:flex;
    flex-direction: row;
}
.LeftMenu{
    display:flex;
    flex-direction: row;
    
    
    box-sizing:content-box solid black;

}
.RightMenu{
    display: flex;
    flex-direction: column;
}
.item{
    list-style-type: none;
    background-color: royalblue;
    
    text-decoration:dashed;
    color: rgb(218, 205, 205);
    padding: 10px;
    margin: 5px;
    border: #0b0a0a;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}